<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="article">
				<h2 class="col">Hi, I'm Kendra Thompson</h2>
				<figure>
					<img class="img-fluid" src="images/kendra.png">
					<p>I am a video editor and motion graphics artist. I am also a painter and an illustrator, and when I'm away from my desk you can find me on the stage performing in musicals! Check out some of my creative work and feel free to contact me for commissions or to work together.</p>
				</figure>
			</div>
		</div>
	</div>
</div>