<div class="wrapper container">
	<!-- LIGHTBOX ILLUSTRATIONS -->
	<h2>Illustrations</h2>
	<p>All of these illustrations were drawn using Adobe Illustrator.</p>
	<figure>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/madelin.png" data-lightbox="artgallery" data-title="Little Sister">
						<img src="images/madelin.png" class="img-fluid portfolio">
					</a>
					<h3>Little Sister</h3>
					<figcaption>April, 2019.<br>This is an illustration that I drew as a gift for my little sister. This was a quick and fun illustration to do while watching movies with family over the Easter long weekend! </figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/home.jpg" data-lightbox="artgallery" data-title="Self Portrait">
						<img src="images/home.jpg" class="img-fluid portfolio">
					</a>
					<h3>Self Portrait</h3>
					<figcaption>April 2019<br>This is an illustration I created as the logo for my portfolio.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/styles.png" data-lightbox="artgallery" data-title="A Brief History of Women's Fashion Illustrations">
						<img src="images/styles.png" class="img-fluid portfolio">
					</a>
					<h3>A Brief History of Women's Fashion Illustrations</h3>
					<figcaption>February 2019.<br>I had a lot of fun drawing these detailed outfits for a video I created about the history of women's fashion over the past century. The video can be found on my Videos page, titled "A Brief History of Women's Fashion". </figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/animals.png" data-lightbox="artgallery" data-title="Matching Game Illustrations">
						<img src="images/animals.png" class="img-fluid portfolio">
					</a>
					<h3>Matching Game Illustrations</h3>
					<figcaption>March 2019.<br>I created these illustrations for an interactive animation game. The game started with a set of cards that the player can click on to find matching animals.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/kendra.png" data-lightbox="artgallery" data-title="Self Portrait">
						<img src="images/kendra.png" class="img-fluid portfolio">
					</a>
					<h3>Self Portrait</h3>
					<figcaption>March, 2019.<br>I created this illustration for the rebranding of my business card.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/bear.png" data-lightbox="artgallery" data-title="Green Nature Toys Mascot">
						<img src="images/bear.png" class="img-fluid portfolio">
					</a>
					<h3>Green Nature Toys Mascot</h3>
					<figcaption>April 2019.<br>I drew this teddy bear for an interactive PDF form about an eco-friendly toy store.</figcaption>
				</div>
			</div>
		</div>
	</figure>
	<!-- END OF LIGHTBOX ILLUSTRATIONS -->
</div>


