<div class="wrapper container">
	<!-- LIGHTBOX ILLUSTRATIONS -->
	<h2>Paintings</h2>
	<p>Below are a variety of paintings I have created using acrylic paint on canvas.</p>
	<figure>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/couple.png" data-lightbox="artgallery" data-title="Engaged">
						<img src="images/couple.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Engaged</h3>
					<figcaption>2018.<br>This painting was made as an engagement gift for my friend and her fiancé.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/bird.png" data-lightbox="artgallery" data-title="Rare Bird">
						<img src="images/bird.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Rare Bird</h3>
					<figcaption>2014.<br>This colourful swan was painted as an assignment for my highschool art class.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/mouse.png" data-lightbox="artgallery" data-title="Mini Mice">
						<img src="images/mouse.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Mini Mice</h3>
					<figcaption>2016.<br>This piece was painted as a gift for my little sister because of her love for Disney.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/horse.png" data-lightbox="artgallery" data-title="Elizabeth's Horse">
						<img src="images/horse.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Elizabeth's Horse</h3>
					<figcaption>2015.<br>This was painted as a gift, replicating a close friend's childhood horse.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/dory.png" data-lightbox="artgallery" data-title="Just Keep Swimming!">
						<img src="images/dory.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Just Keep Swimming!</h3>
					<figcaption>2016.<br>This was painted as a gift for a friend who loves Finding Nemo.</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/daisy.png" data-lightbox="artgallery" data-title="Summer Daisy">
						<img src="images/daisy.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Summer Daisy</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/flowers.png" data-lightbox="artgallery" data-title="Madelin's Flowers">
						<img src="images/flowers.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Madelin's Flowers</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/flower.png" data-lightbox="artgallery" data-title="Blue Flower">
						<img src="images/flower.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Blue Flower</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/dancer.png" data-lightbox="artgallery" data-title="Dancing Queen">
						<img src="images/dancer.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Dancing Queen</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/trees.png" data-lightbox="artgallery" data-title="Autumn Birds">
						<img src="images/trees.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Autumn Birds</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/turtle.png" data-lightbox="artgallery" data-title="Under the Sea">
						<img src="images/turtle.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Under the Sea</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<a href="images/purple.png" data-lightbox="artgallery" data-title="Summer Flowers">
						<img src="images/purple.png" class="img-fluid portfolio paintings">
					</a>
					<h3>Summer Flowers</h3>
					<figcaption>2017.<br>Paint Nite artwork created in two hours as the teaching artist.*</figcaption>
				</div>
			</div>
		</div>
	</figure>
	<p class="asterisk">* I worked as a Paint Nite Artist (now Yaymaker) while living in Barrie, ON. The paintings labelled with an asterisk are some of the paintings I created as examples to show while teaching groups of 10-40 people.</p>
	<!-- END OF LIGHTBOX ILLUSTRATIONS -->
</div>


