<div class="wrapper container">
	<!-- LIGHTBOX VIDEOS -->
	<h2>Videos</h2>
	<p>Below is a selection of video content I have filmed and/or edited. The editing platforms I most commonly work with are Adobe Premiere Pro and Adobe After Effects.</p>
	<figure>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/knitting.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Knitting with Kendra</h3>
					<figcaption>2019<br>I set up studio lights and multiple camera angles, then filmed, recorded the voice over, and edited this for a final assignment during my graduate certificate program.<br><a href="https://www.youtube.com/watch?v=38x3mxrR6m8&t" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/styles.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>A Brief History of Women's Fashion</h3>
					<figcaption>2019<br>I illustrated these figures in Adobe Illustrator and animated the motion graphics within Adobe After Effects.<br><a href="https://www.youtube.com/watch?v=Bl_jQl5k63Q" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/nature.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Autumn in Ontario</h3>
					<figcaption>2018.<br>Telling a story about Autumn in Ontario using a mix of video, text, and animated images incorporated into the video.<br><a href="https://www.youtube.com/watch?v=BGVILJMuDi4" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/pizza.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Mini Deep Dish Pizzas</h3>
					<figcaption>2018.<br>I edited this video during my time working with Shared, Inc. in Ottawa, ON. I did not have much experience using masks before editing this video, so I had a lot of fun learning how to create the effect of the hands pulling the dough down to reveal the next clip.<br><a href="https://www.youtube.com/watch?v=kWbff-jps5g" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/orange.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Orange Juice Cake</h3>
					<figcaption>2018.<br>This is another recipe video I created while working at Shared, Inc. The mask effect on the fork took a lot of hard work and was one of my first experiences using a mask in video.<br><a href="https://www.youtube.com/watch?v=wSVTTD2B_io&t" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/candy.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Candy Bar Pie</h3>
					<figcaption>2018.<br>This is a recipe video I created while working at Shared, Inc.<br><a href="https://www.youtube.com/watch?v=H-D9uFPhTMY" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/coffee.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Cold Brew Coffee Pops</h3>
					<figcaption>2018.<br>This is a recipe video I created while working at Shared, Inc.<br><a href="https://www.youtube.com/watch?v=rQ2638nupMg" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/ryann.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Ryann Balmert - Heart Warrior</h3>
					<figcaption>2018.<br>During my time with Shared, Inc. I had the opportunity to work with various clients. The Balmert family creates funny viral content for their fans, but as I worked with them I learned that their daughter was a fighter. I pitched the idea to share their story and got the green light to create this video dedicated to raising awareness about congenital heart defects.<br><a href="https://www.youtube.com/watch?v=WYZqESRqpyU" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/artist.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Mona Caron Artist</h3>
					<figcaption>2018.<br>Mona Caron is another artist I collaborated with during my time with Shared, Inc. I created this video to share her inspiring artwork with our audience.<br><a href="https://www.youtube.com/watch?v=i7-vMf8E8GA" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/dance.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>Cinematography Work - Win This Space</h3>
					<figcaption>2017.<br>I worked with NV Media Productions as a videographer for this video. It was a great experience playing with the frame rate to create slow-motion video.<br><a href="https://www.youtube.com/watch?v=xSXoD_RyWSY" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/dogs.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>CHEX News Story on Therapy Dogs</h3>
					<figcaption>2017.<br>In my final year at Trent University I had the opportunity to work with CHEX News in Peterborough, ON. I pitched this story, conducted the interviews, and was the videographer and editor for the final video.<br><a href="https://www.youtube.com/watch?v=f1EMauiy9Ew" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4 videos">
						<video width="100%" height="auto" controls>
						    <source src="videos/calorie.mp4" type="video/mp4" class="embed-responsive-item portfolio">
						</video>
					<h3>CHEX News Story on Calorie Reaction</h3>
					<figcaption>2017.<br>This was the second piece I created while working with CHEX News in Peterborough, ON. I pitched this story, conducted the interviews, and was the videographer and editor for the final video.<br><a href="https://www.youtube.com/watch?v=WGzUhGL9Msg&t" target="_blank">Click here to see video fullscreen on YouTube.</a></figcaption>
				</div>
			</div>
		</div>
	</figure>
	<!-- END OF LIGHTBOX VIDEOS -->
</div>



