/*
COLOUR SCHEME:
white: #ffffff
lighter blue: #e1fbff
light blue: #5a9ead
dark blue: #346273
orange: #e39775
*/

body {
	background-color: #e1fbff;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 0.75rem;
	line-height: 1.4;
}

.logo {
	width: 200px;
	height: auto;
	margin: 0 auto;
	display: block;
}

.tagline {
	background-color: #e1fbff;
	margin: 0 auto;
}

.role {
	font-family: 'Lato', sans-serif;
}

.name {
	margin-top: 2rem;
}

header {
	background-image: url(../images/masthead.jpg);
	background-size: 30%;
	padding-top: 2rem;
	background-position: top right;
}

.navbar, .navbar-expand-lg, .navbar-light, .bg-light, button {
	background-color: #5a9ead!important;
	font-family: 'Bree Serif', serif;
}

button {
	border: none;
	color: rgba(0,0,0,.5);
	padding-right: .5rem;
    padding-left: 0;
    margin-top: 7px;
}

.navbar-light .navbar-nav .nav-link:hover, button:hover {
	color: #000000;
}

button .dropdown-toggle {
	display: block;
    text-decoration: none;
    background-color: transparent;
}

h1, h2, h3 {
	font-family: 'Bree Serif', serif;
	color: #346273;
	margin: 2rem auto 1rem auto;
}

h1, h2 {
	font-weight: bold;
}

.demo h2 {
	margin-top: 0!important;
}

.demo figcaption, .demo video {
	margin-bottom: 1rem;
}

img {
	width: 400px;
	height: auto;
	display: block;
	margin: 1rem auto 2rem auto;
	border-radius: 50%;
  	border-style: solid;
  	border-width: 5px;
  	border-color: #e39775;
}

.paintings {
	border-radius: 50%;
	background-color: #e39775;
}

.asterisk {
	margin-top: 4rem;
}

.videos video {
	background-color: #e39775;
	margin-top: 2rem;
	margin-bottom: 0 auto;
}

figcaption a {
	text-decoration: none;
	color: #5a9ead;
}

figcaption a:hover {
	color: #e39775;
	text-decoration: none;
}

.about img {
	width: 800px;
	height: auto;
	display: block;
	margin: 1rem auto 2rem auto;
	border-radius: 0;
  	border-style: solid;
  	border-width: 5px;
  	border-color: #e39775;
}

h1, h2, h3 {
	text-align: center;
}

p, video {
	padding-bottom: 1rem;
}

hr {
	width: 100%; 
	color: black; 
	height: 1px; 
	background-color:black;
}

.portfolio {
	width: 400px;
}

footer {
	color: #ffffff;
	background-color: #5a9ead;
	padding-top: 2rem;
}

footer h2 {
	color:  #346273;
	margin-top: 0;
}

footer .col {
	text-align: center;
	margin: 0 auto;
	text-decoration: none;
}

footer .col a {
	color: #e1fbff;
	font-size: 1rem;
}

footer a, footer .col a {
	color: #e1fbff;
	text-decoration: none;
}

footer a:hover, footer .col a:hover, .contact a:hover {
	color: #e39775;
	text-decoration: none;
}

.contact a {
	color: #000000;
}

@media only screen and (min-width: 35rem) {
	body {
		font-size: 1rem;
	}

	.wrapper {
		max-width: 80%;
		margin: 0 auto;
	}

	img {
		margin-right: 2rem;
		width: 400px;
	}

	.article img {
		float: left;
	}

	.article h2, .about h2 {
		padding-left: 0;
	}

	.article::after {
		content: "";
		display: block;
		clear: both;
	}

	.about p {
		margin: 1rem auto 2rem auto;
	}

	.contact {
		margin: 0 auto;
	}

	.contact img {
		width: 200px;
	}

	footer .col a {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 80rem) {
	body {
		font-size: 1.25rem;
		line-height: 1.6;
	}

	.tagline {
		padding-left: 1.5rem;
	}

	button {
	padding-left: .5rem;
	}

	h1, h2, h3 {
		text-align: left;
	}

	.about .col-md-4:nth-child(1) {
		padding-left: 0;
	}

	.about .col-md-4:nth-child(3) {
		padding-right: 0;
	}

	.contact img {
		float: left;
	}

	.cont .row {
		display: block;
	}

	.contact h2 {
		padding-left: 0;
	}

	.contact::after {
		content: "";
		display: block;
		clear: both;
	}

	footer h2 {
		text-align: center;
	}

	footer .col a {
	font-size: 3rem;
	}
}